/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Quicksand', sans-serif;
    /*font-family: Arial, sans-serif;*/
    text-align: center;
    color: #4CAF50;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 80px;
    height: 80px;
    margin-right: 0px;
  }
  
  .logo h1 {
    font-size: 30px;
    color: #4CAF50;
    margin: 0;
  }
  
  nav {
    display: flex;
    gap: 100px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
  }
  
  nav .dropdown {
    position: relative;
  }
  
  nav .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  nav .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .auth-links a {
    text-decoration: none;
    color: #4CAF50;
    margin-left: 70px;
  }
  
  