
/* style.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#product-details img {
    width: 150px;
    height: auto;
    margin-top: 10px;
}

#nutrition-values {
    list-style-type: none;
    padding: 0;
}
#health-smiley {
    font-size: 50px;
    margin-top: 10px;
}

/* Color classes for smiley */
.smiley-green {
    color: green;
}

.smiley-yellow {
    color: yellow;
}

.smiley-red {
    color: red;
}
